* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1, h2 {
    margin: 10px 5px;
}

.dogImages {
    list-style: none;
    display: flex;
    margin: 0 5px;
    flex-wrap: wrap;
    gap: 5px;
}

article > p {
    margin: 10px 5px;
}

.div-container > p, .div-container > a {
    margin: 10px 5px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
}

footer > * {
    margin: 20px 5px;
}

.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

i {
    font-size: 2rem;
    color: inherit;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: green;
}

a:visited {
    color: purple;
}